/* Regular Font */
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*colors*/
    --color-green: hsl(75, 94%, 57%);
    --color-grey-900: hsl(0, 0%, 8%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-700: hsl(0, 0%, 20%);


    /*font sizes*/
    --font-size-preset-1: 1.5rem; /* 24px */
    --font-size-preset-2: 0.875rem; /* 14px */

    /*spacing*/
    --spacing-500: 2.5rem; /* 40px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-200: 1rem; /* 16px */
    --spacing-150: 0.75rem; /* 12px */
    --spacing-100: 0.5rem; /* 8px */
    --spacing-50: 0.25rem; /* 4px */
}

body{
    font-family: 'Inter',Arial, Helvetica;
    font-size: var(--font-size-preset-2);
    line-height: 1.5;
    background-color:  var(--color-grey-900);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-500);
    border-radius: var(--spacing-150);
    gap: var(--spacing-300);
    background-color: var(--color-grey-800);    
}

.profile-header{/*profile info wrapper*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-300);
}

.profile-picture{
    width: 4.5rem;
    border-radius: 50%;
    max-width: 100%;
}


.profile-meta{/*name+location wrapper*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-name{
    font-size: var(--font-size-preset-1);
}

.profile-location{
    color: var(--color-green);
    font-weight: bold;
    margin-top: var(--spacing-50);
}


/*Links Styling*/
.profile-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-150);
}

.profile-link{
   color: white;
   border: 1px solid var( --color-grey-700);
   background-color: var(--color-grey-700);
   border-radius: var(--spacing-50);
   text-align: center;
   text-decoration: none;
   font-weight: bold;
   padding: var(--spacing-150);
   transition: all 0.3s ease;
}

.profile-link:hover, .profile-link:focus {
    color:var(--color-grey-900);
    background-color: var(--color-green);
}